
/* hue  0-360 color wheel 
 * just above 0 or below 360 are reds,
 * around 120 greens
 * around 240 blues
 *
 * lightness
 *  - dark 100% light 0%
 * */

:root {
  --txt-h: 206;
  --txt-s: 15%;
  --txt-l: 79%;
  --txt-l-lighter: 50%;
  --txt-a: 1;     /* alpha transparance */
  --clr-hsl: hsl( var(--txt-h),var(--txt-s),var(--txt-l)); /* #1d3a05; */

  --bg-h: 95;
  --bg-s: 12%;
  --bg-l: 20%;
  --bg-l-darker: 50%;
  --bg-a: 1;
  --bg-hsl: hsl( var(--bg-h),var(--bg-s),var(--bg-l)); /* #1d3a05; */

  --link-h: 204;
  --link-s: 35%;
  --link-l: 73%;
  --link: hsl( var(--link-h),var(--link-s),var(--link-l),.75); /* #a1bed2 #1d3a05; */
  --link-alt: hsla( var(--link-h),var(--link-s),var(--link-l),1); /* #a1bed2 #1d3a05; */

  --alt-h: 0;
  --alt-s: 91%;
  --alt-l: 25%;
  --alt-l-darker: 20%;
  --alt: hsla(var(--alt-h),var(--alt-s),var(--alt-l),.5); /* #1d3a05; */
  --bg-alt: hsla(var(--alt-h),var(--alt-s),var(--alt-l-darker),1); /* #1d3a05; */
  --bg-url: '/icons/mackenzie';
  --font-size: min(max(1rem, 4vw), 22px);

  /* min(max(1rem, calc(1rem + ((1vw - 0.48rem) * 0.6944))), 1.5rem); */
  --font-text: 'IBM Plex Serif', 'Georgia', Times, serif;
  --font-headings: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-code: 'Fira Code','IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --font-lists: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;

  /* min-height: 0vw; */
 }

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-offset: 0.125em; */
  /* text-decoration: none; */
  /* vertical-align: baseline; */
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

/* * + * { */
/*  margin-top: 1.5em; */
/* } */

html {
  height: 100%;
  border-collapse: collapse;
  font-size: 125%;
  font-family: var(--font-text);
  line-height: 1.5;
  color: #222;
  background-color: var(--bg-hsl); /* #c1cad1 */
  font-size:  var(--font-size);
  color: var(--clr-hsl);
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* color: var( --clr-comlementary ); */
  /* min-height: 10vh; */
  max-height: 10vh;
  font-family: var(--font-headings);
  font-size: 1.75em;
  font-weight: 700;
}

nav[aria-label=Breadcrumb] {
  width: 100%;
  /* display: block; */
  display: flex;
  background-color: var(--alt); /* #1f3d06 *1/ */
  /* width: 100%; */
  /* padding-right: 1rem; */
  justify-content: flex-end;
}

main {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  --modifier: calc(60rem - 100%);
}

/**
 * for each item in main
 * display hozizontally if more than 60 rem
 *
 *
**/
main > * {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
}

main > article {
  /* background-color: hsla(204, 25%, 80%, .9); /1* #c0cfd9 *1/ */
  min-width: 75%;
}

main > aside {
  /* background-image: url( '/icons/mackenzie' ); */
 /* background-color: hsla(204, 25%, 80%, .7);  #c0cfd9 */
  margin-top: 0;
  min-width: 25%;
  padding-right: 1rem;
  padding-left: 1rem;
  border-left: 1rem var(--alt) solid;
}

main > article > * {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 0;
  font-size: smaller;
  /* display: block; */

  display: flex;
  background-color: var(--alt); /* #1f3d06 *1/ */
  justify-content: center;
}

/* BLOCK TYPOGRAPHY */

article * + * {
 margin-top: 1.5em;
}

/* BLOCK TYPOGRAPHY */

h1,
h2,
h3 {
  font-family: var(--font-headings);
  /* font-weight: 600; */
  /* color: #771903; */
}

h1,
h2 {
 padding-bottom: .3em;
 /* border-bottom: 1px solid #484d17; */
}

h1 {
  margin: 0.67em 0;
  font-size: 1.75rem;
  letter-spacing: 0.125em;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
  line-height: 1.225;
}

h3 {
  font-size: 1.2em;
  line-height: 1.43;
  /* color: #6a737d; */
}

p {
  line-height: 1.5em;
}

p + p {
/* margin-top: 0; */
text-indent: .5em;
}

/* LISTS TYPOGRAPHY */

a {
  /* display: inline-block; */
  color: var(--link);
  /* border-radius: 0.25em; */
  text-decoration: none;
}



pre, code {
	color: #a9b7c6;
  font-family: var( --font-code);
  tab-size: 2;
  hyphens: none;
}

code {
  font-size: smaller;

}
